<footer class="site-footer">
    <div class="wrapper">
        <!-- disqus -->

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = "oracle-dba"; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement("script");
                dsq.type = "text/javascript";
                dsq.async = true;
                dsq.src =
                    "https://" + disqus_shortname + ".disqus.com/embed.js";
                (
                    document.getElementsByTagName("head")[0] ||
                    document.getElementsByTagName("body")[0]
                ).appendChild(dsq);
            })();
        </script>
        <!-- disqus -->

        <!-- Google Analitics -->

        <!-- Google Analinics  -->

        <div align="center">
            {% if page.keywords %}
            <p>
              <strong>Tags:</strong> {{ page.keywords | strip_html | strip_newlines |
              truncate: 160 }} {% endif %}
            </p>
          </div>

        <br />

        <div align="center">
            <table border="0">
                <tr>
                    <td>
                        <a
                            href="/database/installation/single-instance/simple/linux/6.7/oracle/12.1/"
                        >
                            <img
                                src="https://img.oracledba.net/img/oracle/database/single.png"
                                border="0"
                                alt="Single"
                            />
                        </a>
                    </td>
                    <td>
                        <a
                            href="/database/installation/distributed/dataguard/linux/6.7/oracle/12.1/"
                        >
                            <img
                                src="https://img.oracledba.net/img/oracle/database/dataguard.png"
                                border="0"
                                alt="DataGuard"
                            />
                        </a>
                    </td>
                    <td>
                        <a href="/database/installation/distributed/rac/">
                            <img
                                src="https://img.oracledba.net/img/oracle/database/rac.png"
                                border="0"
                                alt="RAC"
                            />
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <h2 class="footer-heading">Oracle DBA</h2>

        <div align="center">
            <strong>Собираем также материалы по:</strong>
            <a href="https://plsql.ru/" rel="nofollow">SQL & PL/SQL</a>
        </div>

        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-3">
                <p class="text">
                    Исходные коды проекта хранятся на
                    <a
                        href="https://bitbucket.org/oracle-dba/oracle-dba.ru"
                        rel="nofollow"
                        >bitbucket</a
                    >. <br />
                </p>

                <p class="text">
                    <strong
                        >Лучше потратить какое-то количество времени, чтобы
                        записать успешный опыт, чем потом повторно
                        воспроизводить его по памяти.</strong
                    >
                    <br />
                    <br />
                    <strong
                        >Все материалы обновляются по мере нахождения лучших
                        практик и апгрейда знаний. Если будут желающие добавлять
                        свои знания или исправлять ошибки и неточности, пишите в
                        <a href="/chat/" rel="nofollow">телеграм чате</a>. Если
                        будет учавствовать больше людей, качество материалов
                        будет улучшаться и обновляться быстрее. Ссылки на ваши
                        профили в соц. сетях будут добавлены в статьях, в
                        которых вы учавствуете.</strong
                    >
                </p>
            </div>
        </div>
    </div>

    <!-- javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"
    ></script>
    <!-- javascripts -->
</footer>
