<footer class="site-footer">

    <div class="wrapper">

<!-- disqus -->

<div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'oracle-dba'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
<!-- disqus -->


<!-- Google Analitics -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4894954-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<!-- Google Analinics  -->


<div align="center">

    <table border="0">
        <tr>
            <td><a href="/oracle-database-installation/linux/6.4/oracle/12.1/"><img src="http://img.oradba.net/img/oracle/database/single.png" border="0" alt="Single"></a></td>
            <td><a href="/oracle-database-installation/dataguard/linux/6.7/oracle/12.1/"><img src="http://img.oradba.net/img/oracle/database/dataguard.png" border="0" alt="DataGuard"></a></td>
            <td><a href="/oracle-database-installation/rac/linux/5.8/oracle/11.2/"><img src="http://img.oradba.net/img/oracle/database/rac.png" border="0" alt="RAC"></a></td>
        </tr>
    </table>

</div>


    <h2 class="footer-heading">Oracle DBA</h2>


    <div align="center">
        <strong>tags:</strong> Oracle Linux ||
        Oracle DataBase ||
        Oracle Weblogic ||
        SQL & PL/SQL ||
        Java ||
        Oracle ADF
    </div>


    <div class="footer-col-wrapper">

      <div class="footer-col  footer-col-3">
        <p class="text">Проект со всеми исходниками расположен и хостится на
            <a href="https://github.com/plsql/oracle-dba.ru/">github</a>.
            Любой желающий может создать свою копию.
            Желающие добавлять свои знания или исправлять ошибки и неточности могут присылать pull request'ы.
            Подробнее в разделе "О сайте".
        </p>

        <iframe src="https://ghbtns.com/github-btn.html?user=plsql&repo=oracle-dba.ru&type=star&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=plsql&repo=oracle-dba.ru&type=fork&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>

      </div>
    </div>

  </div>

</footer>
